<div class="card">
    <div class="card-body">
        <form #form="ngForm"
        >
            <div class="form-group formTodo" appTooltip [textTooltip]="spanText()" #t="tool">
                <label for="text">Text</label>
                <input type="text"
                       class="form-control"
                       id="text"
                       name="title"
                       [(ngModel)]="title"
                       #titleTask="ngModel"
                       required
                       (focus)="t.show()"
                       (blur)="t.hide()"
                >
                <div class="mt-2 text-center alert alert-danger"
                     *ngIf="titleTask.invalid && titleTask.touched">
                    Title required!
                </div>
                <button class="btn btn-primary mt-2"
                        *ngIf="!isEdit"
                        [disabled]="titleTask.invalid"
                        (click)="addTask()">
                    Add task
                </button>
                <button class="btn btn-primary mt-2"
                        *ngIf="isEdit"
                        (click)="editTask()"
                        [disabled]="titleTask.invalid">
                    Edit Task
                </button>
            </div>
        </form>
    </div>
</div>