<div class="card">
    <div class="card-body">
        <form #form="ngForm"
              (ngSubmit)="addTask()"
        >
            <div class="form-group formTodo" appTooltip [textTooltip]="spanText()" #t="tool">
                <label for="text">Text</label>
                <input type="text"
                       class="form-control"
                       id="text"
                       name="title"
                       #title="ngModel"
                       ngModel
                       required
                       (focus)="t.show()"
                       (blur)="t.hide()"
                >
                <div class="mt-2 text-center alert alert-danger"
                     *ngIf="title.invalid && title.touched">
                    Title required!
                </div>
                <button class="btn btn-primary mt-2"
                        [disabled]="title.invalid">
                    Add task
                </button>
            </div>
        </form>
    </div>
</div>